<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{{display_data.name}}</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <script type="text/javascript" src="{% static 'js/feedback_form.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/feedback_form.css' %}"/>
  <script type="text/javascript" src="{% static 'js/data_display.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/data_display.css' %}"/>
</head>
<body>

{% if display_data.data|length == 0 %}
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="ui middle aligned center aligned grid snap-grid">
  <div class="column snap-column">
    <h2 class="ui teal header">
        Oh Snap!
    </h2>
    <div class="ui large form">
      <div class="ui fluid segment">
        <p id="feedback">Seems like currently there is no data present for <b>{{display_data.name}}</b>!
        Please visit later or provide requirements in the <br/><a href="#">Feedback form</a> </p>
        <a href="/">
        <div class="ui fluid large teal submit button">Head back on to the home page?</div>
        </a>
      </div>
  </div>
</div>
</div>

{%else%}


<div class="ui stackable menu">
  <div class="item">
    <a href="/"><i class="large home icon"></i></a>
  </div>
  {% if display_data.type = 'Knowledge Base' %}
  <a class="item" href="/technical/knowledge-base/">Knowledge Base</a>
  {% endif %}
  {% if display_data.type = 'Soft Skills' %}
  <a class="item" href="/soft-skills/">Soft Skills</a>
  {% endif %}
    <div class="ui simple dropdown item">
      Extra
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">View all links</div>
        <div class="item">Take a break</div>
        <div class="item">Chill</div>
      </div>
    </div>
</div>

<div class="ui main">
  <div class="ui header segment">
    <h1 class="ui header">{{display_data.type}}</h1>
  </div>

<div class="ui one column stackable page grid">
      <!-- negative space -->
      <div class="column two wide"></div>
      <!-- negative space -->
            <div class="column twelve wide">
                <div class="ui segment">
                    <h1 class="ui header"> {{display_data.name}} </h1>
                        {% if display_data.desc %}
                            <p>{{display_data.desc}}</p>
                        {% endif %}

                {% for row in display_data.data %}
                
                <div class="ui raised segment diff_lvl_{{ row.difficulty }} row_data "> 
                    <a {% if row.link %} href="{{row.link}}" target="_blank" {% else %} href="#" {%endif%}style="color:inherit;">
                    <h3 class="ui header" style="color:inherit;">
                        {{ row.title }}
                    </h3>
                        {% if row.data_desc %}
                          
                          <p>{{ row.data_desc }}</p>
                        {% endif %}
                </a>
                </div>
                {% endfor %}
             </div>
        </div>
    </div>
</div><!-- ui main -->

{%endif%}

<!-- feedback form modal -->
<div class="ui inverted small modal" id="feedback-modal">
  <div class="header"><h2 class="ui teal header center aligned">
        You are awesome! ^__^
    </h2></div>
    <div class="content">
    <div class="ui container">
        <div class="column">
            <div class="ui form" id="form">
                <div class="ui fluid segment">
                    <div class="field">
                        <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input id="username" type="text" name="username" placeholder="Name">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input id="email" class="feedback-data" type="text" name="email" placeholder="E-mail address*">
                        </div>
                    </div>
                    <div class="field">
                    <i class="write icon"></i>
                        <div class="ui left icon input">
                            <textarea id="feedback" placeholder="Type in your feedback*" class="feedback-data"></textarea>
                            
                        </div>
                    </div><!-- textarea -->
                    <div class="ui fluid large teal submit button" id="submit">Submit feedback!</div>
                    </div>
                </div>
        </div>
    </div><!-- container -->
    </div><!-- content -->
</div><!-- modal -->

<!-- feedback form modal  -->
</body>
</html>
