<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
    <title>Project Lumos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <!-- not working :( -->
    <!-- // <script type="text/javascript" src="/lumos/templates/js/feedback_form.js"></script> -->
    <style type="text/css">
  .ui.footer.segment {
    /*margin: 5em 0em 0em;*/
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100;
    /*padding: 5em 0em;*/
  }
</style>
</head>
<body>

<div class="ui container">
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="ui grid">
<div class="ui row">
<div class="five wide column"></div>
    <div class="four wide column">
    <a href="/technical">
        <button class="ui massive button inverted red">Technical Skills</button>
    </a>
    </div>

    <div class="three wide column">
    <a href="/soft-skills">
    <button class="ui massive button inverted blue">Soft Skills</button>
    </div>
    </a>
</div>
<div class="ui inverted section divider"></div>
<div class="ui row">
    <div class="two wide centered column">
    <button class="ui massive button inverted green">Confused?</button>        
    </div>
</div>
</div>
</div>

<footer>
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
    <p id='love'>Made with <i class="heart icon"></i>for DMCE</p>
    <div class="ui inverted section divider"></div>
    <div class="ui horizontal inverted small divided link list">
        <a href="#" id="disclaimer" class="item" style="color: inhert;">Disclaimer</a>
        <a class="item" href="#">About Us</a>
        <a class="item" id="feedback" class="item" style="color: inhert;">Feedback</a>
      </div>
    </div>
  </div>
</footer>

<!-- disclaimer modal -->
<div class="ui modal" id="disclaimer-modal">
  <div class="header">Disclaimer</div>
  <div class="content">
    <div class="ui center aligned segment">
        Bacon ipsum dolor amet brisket andouille bresaola, pork chop nostrud elit non bacon leberkas aliqua et turkey dolore. Pork chop bresaola pork belly, shankle aute drumstick turducken venison sint labore t-bone magna ullamco ham hock. Kevin exercitation irure, ground round shankle cupidatat occaecat fatback ea fugiat id mollit. Landjaeger pork pariatur, ribeye short ribs biltong enim exercitation.

Cillum non ball tip, proident capicola corned beef dolor short ribs aliqua pork chop irure in pariatur tempor ullamco. Meatball andouille qui pariatur jerky bacon. Commodo alcatra do, jerky tail reprehenderit exercitation adipisicing doner cillum sirloin. Minim tail occaecat sausage do, filet mignon anim spare ribs qui lorem corned beef fugiat aliqua. Occaecat pancetta prosciutto, turkey minim porchetta cow aliquip eu enim.

Et ball tip consectetur brisket meatloaf non picanha sunt. Strip steak flank short ribs frankfurter, sed pariatur ullamco biltong officia spare ribs veniam velit chuck. Ex est culpa consequat aute eiusmod. Reprehenderit labore drumstick andouille short ribs, rump ut tenderloin eu biltong exercitation sausage.

Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!
    </div>
</div>
</div>

<!-- feedback form modal -->
<div class="ui inverted fullscreen modal" id="feedback-modal">
  <div class="header"><h2 class="ui teal header center aligned">
        You are awesome! ^__^
    </h2></div>
    <div class="content">
    <div class="ui container">
        <div class="column">
            <div class="ui form" id="form">
                <div class="ui fluid segment">
                    <div class="field">
                        <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input id="username" type="text" name="username" placeholder="Name">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input id="email" class="feedback-data" type="text" name="email" placeholder="E-mail address*">
                        </div>
                    </div>
                    <div class="field">
                    <i class="write icon"></i>
                        <div class="ui left icon input">
                            <textarea id="feedback" placeholder="Type in your feedback" class="feedback-data"></textarea>
                            
                        </div>
                    </div><!-- textarea -->
                   
                   <div class="ui fluid large teal submit button" id="submit">Submit feedback!</div>
                    </div>
                </div>
        </div>
    </div><!-- container -->
    </div><!-- content -->
</div><!-- modal -->

<!-- feedback form modal  -->

<script type="text/javascript">
$(document).ready(function(){
$("#submit").click(function(){
      var proceed = true;
      $(".feedback-data").each(function(){
        $(this).css('border-color','');
        // console.log(this);
        if(!$.trim($(this).val())){ //if this field is empty
            $(this).css('border-color','red'); //change border color to red
            
            proceed = false; //set do not proceed flag
            alert("Please provide appropriate data");
            return false;
        }
        //check invalid email
        var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        // console.log($(this).val());
        if($(this).attr("name")=="email"
           && !email_reg.test($.trim($(this).val())))
        {
            $(this).css('border-color','red'); //change border color to red
            alert('Please provide valid email!');
            proceed = false; //set do not proceed flag
            return false;
        }
      });//finishing validations
    console.log(proceed);
    if (proceed){
    var feedback_data = {}
    username = $("#username").val();
    console.log(username);
    if (username)
          {
            feedback_data['username'] = username
          }
    else{
        feedback_data['username'] = 'Anon'
    } 
    feedback_data['email'] = $("#email").val().trim()
    feedback_data['feedback'] = $("textarea#feedback").val().trim()
    console.log(feedback_data);
    $.ajax({
        type : 'POST',
        url : '/feedback-form/',
        data :JSON.stringify(feedback_data)
        ,dataType : "json"
        ,success : function(data){
            alert("Thanks for providing feedback! :)");
            window.location.reload();
        }
        ,error : function(data){
            alert("Oh shucks! Feedback not saved! Please try again!");
        }
    });//ajax call
  }
});// submit fucntion


$(".massive").hover(function () {
    // $(this).transition("bounce");
    $(this).toggleClass("inverted")
 });

$("#love").hover(function () 
    {$(".heart").css({"color": "red"});}, 
    function () 
    {$(".heart").css({"color": "white"}); 
});

$("#disclaimer").click(function(){
$('#disclaimer-modal').modal('show');
})

$("#feedback").click(function(){
$('#feedback-modal').modal('show');
})


});//document ready
</script>
</body>
</html>
