<!DOCTYPE html>
<html>
<head>
    <title>Techincal Skills</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<body>
    <div class="ui container">
      <div class="ui center aligned basic segment">        
        <div class="ui horizontal divider">
            <p></p>
        </div>
        
        <a href="/technical/knowledge-base">        
        <div class="ui inverted red labeled button massive">
            Knowlegde Base
        </div>
        </a>
        
        <div class="ui horizontal divider">
        </div>
        <br/><br/><br/><br/>
        
        <div class="ui inverted red labeled button massive">
            Project Base
        </div>
        
        <div class="ui horizontal divider">
        </div>
        <br/><br/><br/><br/>

        <div class="ui inverted red labeled button massive">
            Stuff you should know!
        </div>
        
        <div class="ui horizontal divider">
        </div>

        <div class="ui horizontal divider">
            <p> UI options! </p>
        </div>
        
        <div class="ui red labeled button">
            Knowlegde Base
        </div>

        <div class="ui horizontal divider">
        </div>
        
        <div class="ui blue labeled button">
            Project Base
        </div>

        <div class="ui inverted blue labeled button">
            Project Base
        </div>




        <div class="ui horizontal divider">
        </div>
        
        <div class="ui inverted green labeled button">
            Stuff you should know
        </div>        
        <div class="ui green labeled button">
            Stuff you should know
        </div>
        <div class="ui basic green labeled button">
            Stuff you should know
        </div>
    </div>
    <div class="ui container segment center aligned">
        <button class="ui red button">Red</button>
        <button class="ui orange button">Orange</button>
        <button class="ui yellow button">Yellow</button>
        <button class="ui olive button">Olive</button>
        <button class="ui green button">Green</button>
        <button class="ui teal button">Teal</button>
        <button class="ui blue button">Blue</button>
        <button class="ui violet button">Violet</button>
        <button class="ui purple button">Purple</button>
        <button class="ui pink button">Pink</button>
        <button class="ui brown button">Brown</button>
        <button class="ui grey button">Grey</button>
        <button class="ui black button">Black</button>
    </div>
    
</div>
<script type="text/javascript">
$(document).ready(function(){
$(".massive").hover(function () {
    $(this).transition("bounce");
 });


});//document ready
</script>

</body>
</html>