  .ui.footer.segment {
    /*margin: 5em 0em 0em;*/
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100;
    /*padding: 5em 0em;*/
}
body{
    background : #000000 url('../images/type.png');
    /*background-size: 100% 100%;*/
    height:auto!;
}